h1 {
  color: DeepPink;
  font-size: 55px;
}
h2 {
  color:Chocolate;
}

body {
  background-color: pink;
  text-align: center;
}
img {
  
h3 {
  color:Snow;
}
p{
  color:DeepPink;
}
